html, body {
    
     padding: 0;
     width: 100%;
     height: 100%;
}

body {
     background: url(hero.jpg);
     background-size: cover;
}

body:after {
     animation: grain 1s steps(10) infinite;
     background-image: url(grains.png);
     content: "";
     height: 300%;
     left: -50%;
     opacity: 0.8;
     position: fixed;
     top: -110%;
     width: 300%;
     z-index: 0;
}

@keyframes grain {
     0%, 100% { transform: translate(0, 0); }
     10% { transform: translate(-5%, -10%); }
     20% { transform: translate(-15%, 5%); }
     30% { transform: translate(7%, -25%); }
     40% { transform: translate(-5%, 25%); }
     50% { transform: translate(-15%, 10%); }
     60% { transform: translate(15%, 0); }
     70% { transform: translate(0, 15%); }
     80% { transform: translate(3%, 35%); }
     90% { transform: translate(-10%, 10%); }
}

.content {
     z-index: 1;
     position: relative;
margin:auto;
}

h1 {
     color: #e3e3e3 !important;
     font-family: "Playfair Display" !important;
     margin: 52px 0 52px 60px !important;
}

.row {
     z-index: 1;
     margin: 0 !important;
     padding: 0 !important;
}

.cardd {
     border: 1px solid rgba(255,255,255,0.1);
     height: 220px;
     -webkit-transition: 1s !important;
}

.row h5 {
     color: #fff;
     font-family: "Poppins";
     margin: 48px 0 2px 4px;
     font-size: 16px;
}

.row h5:before {
     position: absolute;
     content: "";
     top: 50px;
     left: -2px;
     width: 2px;
     height: 22px;
     display: block;
     background: #fff;
}

p {
     color: grey;
     margin-left: 4px;
     font-size: 14px;
     margin-bottom: 70px !important;
}

a {
     margin-left: 4px;
     color: lightgrey !important;
     font-family: Poppins;
     font-weight: bolder;
     text-transform: uppercase;
     font-size: 10px;
     letter-spacing: 2px;
}

a:hover {
     text-decoration: none !important;
     color: grey !important;
}

.cardd:hover:before {
     -webkit-transition: 1s !important;
     content: "";
     position: absolute;
     top: -100px;
     left: 100px;
     width: 280px;
     height: 280px;
     z-index: -1;
     animation: anim 3.2s ease-in-out;
}

.card1.cardd:hover::before {
     background: url(TESIS.jpg);
}
.card2.cardd:hover::before {
     background: url(mec.jpg);
}
.card3.cardd:hover::before {
     background: url(taxi.jpg);
}

.card4.cardd:hover::before {
     background: url(train.jpeg);
}
.card5.cardd:hover::before {
     background: url(mec.png);
}
.card6.cardd:hover::before {
     background: url(taxi.jpg);
}

.card7.cardd:hover::before {
     background: url(TESIS.jpg);
}
.card8.cardd:hover::before {
     background: url(mec.jpg);
}

@keyframes anim {
     0% {
          opacity: 0;
          left: 70px;
     }

     20% {
          opacity: 1;
          left: 100px;
     }

     100% {
          opacity: 1;
          left: 100px;
     }
}

@media only screen and (max-width: 900px) {
     a {
          display: none !important;
     }

     .cardd {
          height: 100px;
     }

     .row h5 {
          margin: 28px 0 2px 4px;
     }

     .row p {
          margin-bottom: 10px !important;
     }

     .row h5::before {
          top: 26px;
     }

     .cardd:hover::before {
          display: none;
     }
}
.neon-text{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.neon-text p{
    font-size: 92px;
    font-family: poppins;
    color: red;
    font-weight: lighter;
}
.myBtn {
    font-family: Poppins;
    position: absolute;
    top: 50%;
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    padding: 24px 48px;

    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
 
    border: 2px solid #fff;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}

/*button {
    display: block;
    padding: 24px 48px;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: 2px solid #fff;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}*/

.myBtn:hover {
    color: #101010;
    cursor: crosshair;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;
}
.overlay {
    z-index: 2;
    margin: 5px;
display: inline-block;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #101010;
}
.overlay p {
    font-size: 250px;
    font-weight: 800;
}
.screen {
    color: #323232;
    font-family: Poppins;
    position: absolute;
    top: 12%;
    
    left: 50%;
    transform: translate(-50%, -50%);
}




